.col-md-3
{
    margin-top: 30px; 
}

.councilorImg
{
    width: 200px;
    height: 200px;
    // margin: 15px 0px;
    border-radius: 50%;
    border: solid 5px #94C2ED;
}

.scrl
{
    height: 425px;
    overflow-y: scroll;
}

.outerBox
{
    text-align: center;
    // border: solid 1px #94c2ed;
}

h5{
    color: rgb(95, 126, 155);
}
h4{
    color: #000;
    font-size: 30px;
}

.box
{
    // background-color: #4f8dc7;
    width: 100%;
    // padding: 20px;
    // color: #fff;
}

p {
    font-size: 15px;
}