img{
    width:100%;
}

.box
{
    background-color: #182627;
    border-radius: 10px;
    color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
}

.btn
{
    border:none;
    background-color: #67c6af;
    border-radius: 0px;
}

.container
{
    margin-top:100px;
}

img{
    height: 375px;
}

.col-md-6:first-child
{
    margin-top: 50px;
}